{% assign interests = site.data.data.sidebar.certificates %}
{% if certificates %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Certificates
  </h2>

  <ul class="list-unstyled interests-list">
    {% for certificate in certificates %}

      {% if certificate.link %}
      <li><a href="{{ certificate.link }}">{{ certificate.item }}</a></li>
      {% else %}
      <li>{{ certificate.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
